#header{
    float: right;
    width: 1100px;
    font-family: 'Amiri',NanumGothic,serif;
    text-transform: lowercase;
    letter-spacing: 0;
}
.inner{
    position: relative;
    margin: 5px 5px 0 0;
}
.statelog{
    text-align: right;
    font-weight: bolder;
    word-spacing: 15px;
    position: relative;
}
.fieldlist{
    position: relative;
    width: 356px;
    margin: 0 auto;
    border: none;
    display: block;
}
#contents{
    width: 100%;
    padding: 200px 0px;
}
.a-main{
    font-size: 20px;
    padding: 30px;
    color: black;
   
}
.login{
    display: flex;
    justify-content: center;
}
.id{
    overflow: hidden;
    display: block;
    margin: 0 0 2px;
    font-family:Georgia, "돋움", serif;
    margin-bottom:10px;
    color: black
    
}
#member_id{
    margin-top: 5px;
    width: 178px;
    height: 25px;
    padding: 2px;
    border: 0 none;
    color: #000;
    border: 1px solid #dedede;

}
.password{
    overflow: hidden;
    display: block;
    margin: 0 0 2px;
    color: black;
    font-family:Georgia, "돋움", serif;
}
#member_password{
    margin-top: 5px;
    width: 178px;
    height: 25px;
    padding: 2px;
    border: 0 none;
    color: #000;
    border: 1px solid #dedede;
}
.login-box{
    width: 180px;
    display: block;
    background: #000;
    border: 1px solid #000;
    color: #fff;
    text-align: center;
    padding: 6px 3px;
    font-weight: normal;
    margin: 10px 0 5px;
}
.snsArea{
    margin-top: 15px;
}