<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>쇼핑몰 혼자서 개발하기</title>
    <link rel="stylesheet" href="/static/css/leftmain.css">
</head>
<body>
    <div id="container">
        <div id="leftbar">
            <a class="logo-top"href="#STYLE LISH">STYLE LISH</a>
        <div class="left_login">
            <a href="#login">Login</a>
            <a href="#JOINUS">JOIN US</a><br>
            <a href="#CART(0items)">CART (0items)</a>
            <a href="https://service.epost.go.kr/iservice/usr/trace/usrtrc001k01.jsp">WISH</a>
            <a href="#ORDER">ORDER</a>
            <a href="#MY PAGE">MY PAGE</a>
        </div>
        <div class="search"><!-- 검색창  -->
            <input class="search-put"type="text" placeholder=" 검색어 입력">
            <button type="button">
            <img class="imagesearch"src="https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/icon/search.png">
            </button>
        </div>
        <div id="category">
            <div class="position">  
                <ul class="left-list">
                <li class="list">
                    <a href="WEEK BEST">WEEK BEST</a>
                </li>
                <li class="list">
                    <a href="OUTER">OUTER</a>
                </li>
                <li class="list">
                    <a href="OUTER">TOP</a>
                </li>
                <li class="list">
                    <a href="OUTER">KNIT</a>
                </li>
                <li class="list">
                    <a href="OUTER">SHIRTS</a>
                </li>
                <li class="list">
                    <a href="OUTER">PANTS</a>
                </li>
                <li class="list">
                    <a href="OUTER">SHOES&BAG</a>
                </li>
                <li class="list">
                    <a href="OUTER">ACC</a>
                </li>
                <li class="list">
                    <a href="OUTER" >DAILY LIFE</a>
                </li>
                <li class="list">
                    <a href="OUTER">LAST ITEM</a>
                </li>
            </ul>
                <ul class="right-list">
                <li class="list">
                    <a class="list-a">NOTICE</a>
                </li>
                <li class="list">
                    <a href="OUTER">Q / A</a>
                </li>
                <li class="list">
                    <a href="OUTER">REVIEW</a>
                </li>
                <li class="list">
                    <a href="OUTER">PEOPLE THINK</a>
                </li>
                <li class="list">
                    <a href="OUTER">FACEBOOK</a>
                </li>
                <li class="list">
                    <a href="OUTER">INSTAGRAM</a>
                </li>
                </ul>
            </div>
        </div>
        <div class="left_info">
            <span class="info_call">T. 051-123-1234</span>
            <span class="info_day">MONDAY TO FRIDAY . AM 11:00 - PM 06:00</span>
            <span class="info_Time">LUNCH TIME . PM 12:00 - PM 13:00</span>
            <spna class="info_rest">SAT.SUN.HOLIDAY</spna>
            <a class="rest">OFF</a>
        </div>
            <span class="bank">BANK INFO</span>
            <span class="bank_go">국민 123456-78-9101112</span>
            <span class="bank_go">주식회사 STYLE LISH</span>
            
            <div class="bottom_view">
                <a>
                 TODAY VIEW
                </a>
                <div class="player">
                    <span class="prev">◀</span>
                    <span class="prev">▶</span>
                </div>
                <ul>
                    <li class="bottom_imges">
                        <image class="bottom_image"src="/static/images/image3.jpg"></image>
                    </li>
                    <li class="bottom_imges">
                        <image class="bottom_image"src="/static/images/image4.jpg"></image>
                    </li>
                    <li class="bottom_imges">
                        <image class="bottom_image"src="/static/images/image5.jpg"></image>
                    </li>
                </ul>
            </div>
        </div>
        <div class="main_page">
            <div class="header">NEW GOODS</div>
            <div class="main">    
                <div class="goods_box">
                    
                    <img src="/static/images/image3.jpg" class="goods_img">
                    
                    <div class="goods_nm">릴스 숏야상(4color)</div>
                    <div class="goods_price">79,000원</div>
                    <div class="content">스냅버튼으로 제작된 미니멀한 나일론 숏야상입니다:)</div>
                </div>

                 <div class="goods_box">
                    
                    <img src="/static/images/image4.jpg" class="goods_img">
                    
                    <div class="goods_nm">모먼트 페이퍼 오버핏 셔츠(6color)</div>
                    <div class="goods_price">42,000원</div>
                    <div class="content">오버핏중에서도 핏이 좋고 기본컬러들로 나왔습니다,^^</div>
                </div>

                 <div class="goods_box">
                    
                    <img src="/static/images/image5.jpg" class="goods_img">
                    
                    <div class="goods_nm">심플 해비 하찌 버튼가디건(6color)</div>
                    <div class="goods_price">54,000원</div>
                    <div class="content">어느정도 두께감이 있는 요즘핫한 카라가디건입니다:)</div>
                </div>

                 <div class="goods_box">
                    
                    <img src="/static/images/image6.jpg" class="goods_img">
                    
                    <div class="goods_nm">피그먼트 워싱 오버셔츠(4color)
                    </div>
                    <div class="goods_price">34,000원</div>
                    <div class="content">흔치않은 피그먼트 워싱의 오버핏셔츠로 유니크한 제품입니다,!</div>
                </div>

                 <div class="goods_box">
                    
                    <img src="/static/images/image7.jpg" class="goods_img">
                    
                    <div class="goods_nm">USA 코튼 이중지 와이드팬츠(4color)</div>
                    <div class="goods_price">43,000원</div>
                    <div class="content">탄탄한 USA 코튼 이중지원단입니다 , 강추!!</div>
                </div>
                <div class="goods_box">
                    
                    <img src="/static/images/image8.jpg" class="goods_img">
                    
                    <div class="goods_nm">리치 수피마코튼 후드티(6color)</div>
                    <div class="goods_price">47,000원</div>
                    <div class="content">수피마코튼으로 부드럽고 깨끗한 안감입니다:)</div>
            </div>
            </div>



        </div>
    </div>
</body>
<script src="/static/js/mainnotice.js"></script>
</html>