<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>쇼핑몰 혼자서 개발하기</title>
    <link rel="stylesheet" href="/static/css/leftmain.css">
    <link rel="stylesheet" href="/static/css/notice.css">
</head>
<body>
    <div id="container">
        <div id="leftbar">
            <a class="logo-top"href="#STYLE LISH">STYLE LISH</a>
        <div class="left_login">
            <a href="#login">Login</a>
            <a href="#JOINUS">JOIN US</a><br>
            <a href="#CART(0items)">CART (0items)</a>
            <a href="#WISH">WISH</a>
            <a href="#ORDER">ORDER</a>
            <a href="#MY PAGE">MY PAGE</a>
        </div>
        <div class="search"><!-- 검색창  -->
            <input class="search-put"type="text" placeholder=" 검색어 입력">
            <button type="button">
            <img class="imagesearch"src="https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/icon/search.png">
            </button>
        </div>
        <div id="category">
            <div class="position">  
                <ul class="left-list">
                <li class="list">
                    <a href="WEEK BEST">WEEK BEST</a>
                </li>
                <li class="list">
                    <a href="OUTER">OUTER</a>
                </li>
                <li class="list">
                    <a href="OUTER">TOP</a>
                </li>
                <li class="list">
                    <a href="OUTER">KNIT</a>
                </li>
                <li class="list">
                    <a href="OUTER">SHIRTS</a>
                </li>
                <li class="list">
                    <a href="OUTER">PANTS</a>
                </li>
                <li class="list">
                    <a href="OUTER">SHOES&BAG</a>
                </li>
                <li class="list">
                    <a href="OUTER">ACC</a>
                </li>
                <li class="list">
                    <a href="OUTER">DAILY LIFE</a>
                </li>
                <li class="list">
                    <a href="OUTER">LAST ITEM</a>
                </li>
            </ul>
                <ul class="right-list">
                <li class="list">
                    <a class="list-a">NOTICE</a>
                </li>
                <li class="list">
                    <a href="OUTER">Q / A</a>
                </li>
                <li class="list">
                    <a href="OUTER">REVIEW</a>
                </li>
                <li class="list">
                    <a href="OUTER">PEOPLE THINK</a>
                </li>
                <li class="list">
                    <a href="OUTER">FACEBOOK</a>
                </li>
                <li class="list">
                    <a href="OUTER">INSTAGRAM</a>
                </li>
                </ul>
            </div>
        </div>
        <div class="left_info">
            <span class="info_call">T. 051-123-1234</span>
            <span class="info_day">MONDAY TO FRIDAY . AM 11:00 - PM 06:00</span>
            <span class="info_Time">LUNCH TIME . PM 12:00 - PM 13:00</span>
            <spna class="info_rest">SAT.SUN.HOLIDAY</spna>
            <a class="rest">OFF</a>
        </div>
            <span class="bank">BANK INFO</span>
            <span class="bank_go">국민 123456-78-9101112</span>
            <span class="bank_go">주식회사 STYLE LISH</span>
            
            <div class="bottom_view">
                <a>
                 TODAY VIEW
                </a>
                <div class="player">
                    <span class="prev">◀</span>
                    <span class="prev">▶</span>
                </div>
                <ul>
                    <li class="bottom_imges">
                        <image class="bottom_image"src="/static/images/image3.jpg"></image>
                    </li>
                    <li class="bottom_imges">
                        <image class="bottom_image"src="/static/images/image4.jpg"></image>
                    </li>
                    <li class="bottom_imges">
                        <image class="bottom_image"src="/static/images/image5.jpg"></image>
                    </li>
                </ul>
            </div>
        </div>
        <div class="main-container">
            <header>
                <div class="main-board">
                    <div class="main-title">
                        <div class="path">
                            <ol>
                                <li>HOME</li>
                                <li>></li>
                                <li>BOARD</li>
                                <li>></li>
                                <strong>NOTICE</strong>
                            </ol>
                        </div>
                        <div class="title">
                            <h2>NOTICE</h2>
                            <p>공지사항입니다.</p>
                        </div>
                    </div>
                </div>
            </header>
            <main>
                <div class="notice">
                    <table class="board_list">
                        <thead>
                            <tr>
                                <th>NO</th>
                                <th>SUBJECT</th>
                                <th>NAME</th>
                                <th>DATE</th>
                                <th>HIT</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>공지</td>
                                <td>
                                    <a href="">★스타일리쉬 어플포인트 이용안내(출석체크&푸시체크 적립이벤트)★</a>
                                    <span class="txtEm">[11]</span>
                                </td>
                                <td>스타일리쉬</td>
                                <td>2021-02-24</td>
                                <td>2349</td>
                            </tr>
                            <tr>
                                <td>공지</td>
                                <td>
                                    <a href="">★명예의 전당 회원등급안내★</a>
                                    <span class="txtEm">[338]</span>
                                </td>
                                <td>스타일리쉬</td>
                                <td>2018-06-27</td>
                                <td>7703</td>
                            </tr>
                            <tr>
                                <td>공지</td>
                                <td>
                                    <a href="">★더 정확한 사이즈 추천을 원한다면?!★</a>
                                    <span class="txtEm">[2]</span>
                                </td>
                                <td>스타일리쉬</td>
                                <td>2017-08-23</td>
                                <td>7321</td>
                            </tr>
                            <tr>
                                <td>공지</td>
                                <td>
                                    <a href="">★교환 및 반품 보내시는 방법★</a>
                                    <span class="txtEm">[57]</span>
                                </td>
                                <td>스타일리쉬</td>
                                <td>20217-08-23</td>
                                <td>12305</td>
                            </tr>
                            <tr>
                                <td>공지</td>
                                <td>
                                    <a href="">★스타일리쉬(모델) 스펙안내★</a>
                                    <span class="txtEm">[4]</span>
                                </td>
                                <td>스타일리쉬</td>
                                <td>2017-08-23</td>
                                <td>8444</td>
                            </tr>
                            <tr>
                                <td>공지</td>
                                <td>
                                    <a href="">★우체국 토요일도 배송합니다!★</a>
                                    <span class="txtEm">[73]</span>
                                </td>
                                <td>스타일리쉬</td>
                                <td>2017-08-23</td>
                                <td>5753</td>
                            </tr>
                            <tr>
                                <td>공지</td>
                                <td>
                                    <a href="">★휴대폰결제 취소관련 필독★</a>
                                    <span class="txtEm">[2]</span>
                                </td>
                                <td>스타일리쉬</td>
                                <td>2017-08-23</td>
                                <td>1563</td>
                            </tr>
                            <tr>
                                <td>공지</td>
                                <td>
                                    <a href="">★실측재는방법★</a>
                                </td>
                                <td>스타일리쉬</td>
                                <td>2017-05-18</td>
                                <td>4629</td>
                            </tr>
                            <tr>
                                <td>공지</td>
                                <td>
                                    <a href="">★VIP회원등급안내★</a>
                                    <span class="txtEm">[2581]</span>
                                </td>
                                <td>스타일리쉬</td>
                                <td>2015-09-30</td>
                                <td>13185</td>
                            </tr>
                            <tr>
                                <td>공지</td>
                                <td>
                                    <a href="">★카톡상담안내★</a>
                                    <span class="txtEm">[2]</span>
                                </td>
                                <td>스타일리쉬</td>
                                <td>2015-09-12</td>
                                <td>4440</td>
                            </tr>
                            <tr>
                                <td>공지</td>
                                <td>
                                    <a href="">★STYLE LISH(스타일리쉬)★</a>
                                    <span class="txtEm">[21]</span>
                                </td>
                                <td>스타일리쉬</td>
                                <td>2015-08-14</td>
                                <td>19354</td>
                            </tr>
                        </tbody>
                    </table>
                    <tfoot>
                        <div class="message">검색 결과가 없습니다.</div>
                    </tfoot>
                    <div class="board-search">
                        <p>
                            <select name="search-date" id="search-date">
                                <option value="week">일주일</option>
                                <option value="month">한달</option>
                                <option value="3-month">세달</option>
                                <option value="all">전체</option>
                            </select>
                            <select name="search-key" id="search-key">
                                <option value="subject">제목</option>
                                <option value="content">내용</option>
                                <option value="writer_name">글쓴이</option>
                                <option value="member-id">아이디</option>
                                <option value="nickname">별명</option>
                            </select>
                            <input class="bottom_btn"type="search" placeholder="입력하세요.">
                            <span class="bt_button">
                                <a href="" class="gray">찾기</a>
                            </span>
                        </p>
                        <div class="img">
                            <img src="/static/images/talk.png" alt="이미지">
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
    </div>
</body>

</html>